<div class="container">
  <h1>Authentication</h1>
  <div class="container__">
    <div class="container__input_data">
      <label for="user"
        >Username
        <input type="text" value="user" placeholder="enter a username"
      /></label>
      <label for="password"
        >Password
        <input type="password" value="password" placeholder="enter a password"
      /></label>
    </div>
    <div class="container__button">
      <button (click)="login()">Login</button>
    
    </div>
  </div>
</div>
